.section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.section--green {
  background: #2c9e15;
}
.section--blue {
  background: #2561d8;
}
.square {
  width: 200px;
  height: 200px;
  background: #fff;
  transition: border-radius 1s;
}